# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/build/
android/key.properties
*.iml
*.lock
*.log

# IDEs
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
